<div class="container">
  <section class="signupSection">
    <div class="row">
      <div class="card d-flex flex-row p-0">
        <div class="col-md-7">
          <div class="h-100 w-100 p-5 right-side ">
            <form [formGroup]="regForm">
              <h5 class="text-center">Sign up</h5>

              <div class="form-group mt-2">
                <label for="name">User Name</label>
                <input type="text" class="form-control" name="name" id="name" formControlName="name"
                  placeholder="user name" required />
              </div>
              <span *ngIf="isValid('name')" class="error">username is required</span>
              <div class="form-group mt-2">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" formControlName="email"
                  placeholder="Email" required />
              </div>
              <span *ngIf="isValid('email')" class="error">email is required</span>
              <div class="form-group mt-2">
                <label for="password">Password</label>
                <input type="text" class="form-control" name="password" id="password" formControlName="password"
                  placeholder="Password" required>
              </div>
              <span *ngIf="isValid('password')" class="error">password is required</span>
              <div class="form-group mt-2">
                <label for="cnf_password">Password</label>
                <input type="text" class="form-control" name="cnf_password" id="cnf_password"
                  formControlName="cnf_password" placeholder="confirm password" required>
              </div>
              <span *ngIf="isValid('cnf_password')" class="error">password & confirm password should
                match</span>
            </form>
            <button class="btn btn-success w-100 mt-2" (click)="regiserUser()">Sign in</button>
            <div class="align-items-center d-flex mt-3">
              <p class="mb-0">Already a user?</p>
              <a class="px-3" id="sign-up-btn" [routerLink]="['/login']">
                Sign in
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="left-side">
            <img class="h-100 w-100" src="../../../assets/img/BookTracker.png" alt="login" style="
              object-fit: cover;" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>