<div class="container">
  <section class="loginSection">
    <div class="row">
      <div class="card d-flex flex-row p-0">
        <div class="col-md-5">
          <div class="left-side">
            <img class="h-100 w-100" src="../../../assets/img/BookTracker.png" alt="login" style="
            object-fit: cover;" />
          </div>
        </div>
        <div class="col-md-7">
          <div class="p-5 right-side h-100 w-100">
            <form [formGroup]="loginForm">
              <h5 class="text-center">Sign in</h5>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" formControlName="email"
                  placeholder="Email" required />
              </div>
              <span *ngIf="isValid('email')" class="error">email is required</span>
              <div class="form-group mt-2">
                <label for="password">Password</label>
                <input type="text" class="form-control" name="password" id="password" formControlName="password"
                  placeholder="Password" required>
              </div>
              <span *ngIf="isValid('password')" class="error">password is required</span>
            </form>
            <button class="btn btn-success w-100 mt-3" (click)="login()">Sign in</button>
            <div class="align-items-center d-flex mt-3">
              <p class="mb-0">New here ?</p>
              <a class="px-3" id="sign-up-btn" [routerLink]="['/signup']">
                Sign up
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>