<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form class="sign-in-form">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" />
        </div>
        <input type="submit" value="Login" class="btn solid" />
        <p class="social-text">Or Sign in with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
    </div>
  </div>

  <div class="left-panel-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>New here ?</h3>
        <p>
          “Let us take you into a deeper experience, make a moment a lasting conveyable memory. Let us help build your
          tribe.”
        </p>
        <button class="btn transparent" id="sign-up-btn" [routerLink]="['/signup']">
          Sign up
        </button>
      </div>
      <img src="../../../assets/img/log.svg" class="image" alt="" />
    </div>
  </div>
</div>